# atom
.atom/.apm/
.atom/.node-gyp/
.atom/compile-cache/
.atom/packages/
.atom/storage/

# emacs
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/*
.emacs.d/el-get
.emacs.d/elpa
.emacs.d/.recentf
.emacs.d/tramp
*.elc

# vim
.vim/.netrwhist
.vim/plugin/
*.sw[a-z]

# Neovim
.vim/init.vim
